:root{
    --primario: #ffb000;
    --secundario: #5bf3f3;
    --fuente: antiquewhite;
    --background: #161517;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12.5vh;
    background-color: var(--primario);
    display: flex;
    align-items: center;
    padding: 0 3rem;
}
.titulo{
    font-family: "Nunito", sans-serif;
    color: var(--fuente);
}
.logoAlura{
    height: 3rem;
}
.logoOne{
    height: 3rem;
    margin-left: 1.5rem;
}
main{
    display: flex;
    font-family: "Nunito", sans-serif;
    background-image: url(./multimedia/backgroud.png);
    background-color: var(--background);
    height: 75vh;
    align-items: center;
    justify-content: center;
}
.conteiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background);
    color: var(--fuente);
    height: 60vh;
    width: 60vw;
    border-radius: 10px;
    border: 3px solid var(--primario);
    padding: 2rem;
}
.warning{
    display: flex;
    margin-bottom: 01rem;
}
.warningImg{
    width: 1.5rem;
    margin-right: 5px;
}
.texto{
    background-color: var(--background);
    width: 20rem;
    height: 15rem;
    font-family: "Nunito", sans-serif;
    font-size: 1.5rem;
    color: var(--fuente);
    padding: .5rem;
}
.btns{
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
}
button{
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    width: 9rem;
    height: 3rem;
    border-radius: 10px;
    background-color: var(--secundario);
    border: none;
    color: var(--background);
}
.btn:hover{
    background-color: var(--primario);
    transform: scale(1.05);
    transition: 300ms;
}
.btn::after{
    transition: all .4s;
}
.columnDerecha{
    width: 30vw;
    background-color: var(--background);
    font-family: "Nunito", sans-serif;
}
.conteinerColumDer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.imgRobot{
    width: 7rem;
    height: 25vh;
    margin-bottom: 2rem;
}
.btnCopiar{
    display: none;
}
.conteinerFooter{
    height: 12.5vh;
    background-color: var(--primario);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
}
.copyright{
    font-family: "Nunito", sans-serif;
}
.socialConteiner a{
    height: 3rem;
}
.social{
    height: 4rem;
}
a :hover{
    transform: scale(1.15);
    transition: 300ms;
}




@media (max-width: 768px){}

@media (max-width: 480px){}